.core-btn a {
  display:inline-block;
  background-color: var(--white);
  color: var(--core-blue);
  margin: 0;
  padding: 0.85em 1em;
  border: 1px solid var(--core-blue);
  font-size: 1.25em;
  text-decoration: none;
}
