.navbar {
  .nav-item {
    padding-right: 1rem;

    a {
      color: var(--black) !important;
      font-size: 1.25rem;

      &.active,
      &.is-active {
        border-bottom: 1px solid var(--core-blue);
        padding-bottom: 0;
      }
    }
  }
}
