.table:not([role="presentation"]) {
  table-layout: fixed;

  thead {
    th {
      background-color: var(--core-blue);
      color: var(--white);
      font-size: 1.75em;
      font-weight: 100;
      line-height: 1em;
      text-align: center;
      padding: 1rem 0;
      border-right: 1px solid var(--white);
      width: auto;
    }
  }

  tbody {

    td {
      background-color: var(--core-grey);
      border-right: 1px solid var(--white);
      text-align: center;
      vertical-align: middle;
      font-size: 1.25em;
    }
  }
}

.table[role="presentation"] {
  border-color: transparent;

  tr {
    td:first-child {
      padding-right: 2rem;
    }
  }

  @include media-breakpoint-down(md) {
    td {
      display: block;
      width: 100%;
    }
  }
}
