.path-about {

  div[data-component-id="ui_suite_bootstrap:grid_row_1"] {
    img {
      width: 100%;
      height: auto;
      max-width: 1200px;
    }
  }

  .about-background {
    h2 {
      margin-bottom: 0;
    }
  }
}
