{#
/**
 * @file
 * Theme override for a progress bar.
 *
 * Note that the core Batch API uses this only for non-JavaScript batch jobs.
 *
 * Available variables:
 * - label: The label of the working task.
 * - percent: The percentage of the progress.
 * - message: A string containing information to be displayed.
 */
#}
<div class="progress-wrapper" aria-live="polite" data-drupal-progress>
  {% if label %}
    <div class="progress__label">{{ label }}</div>
  {% endif %}

  {{ include('ui_suite_bootstrap:progress', {
    label: percent,
    attributes: attributes,
    variant: 'striped__animated',
    aria_label: label,
    percent: percent,
  }, with_context = false) }}

  {% if message %}
    <div class="progress__description">{{ message }}</div>
  {% endif %}
</div>
